.order {
  padding-top: 50px;
  padding-bottom: 100px;
}
.title {
  margin-bottom: clamp(24px, calc(24px + ((32 - 24) * ((100vw - 768px) / (1024 - 768)))), 32px);
}
.title:last-child {
  margin-bottom: 0;
}

/*========================================================================================================================================================*/

@media (max-width: 940px) {
  .order {
    padding-top: 30px;
    padding-bottom: 80px;
  }
}

@media (max-width: 660px) {
  .order {
    padding-bottom: 60px;
  }
}

/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/

.orderForm {
  max-width: 640px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: start;
  gap: clamp(16px, calc(16px + ((20 - 16) * ((100vw - 768px) / (1024 - 768)))), 20px);
}
.input {
  width: 100%;
  border-radius: 4px;
  padding: 16px;
  background-color: #f2f9f7;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 1.24;
  transition: background-color 0.2s;
}
.input:hover,
.input:focus {
  background-color: #e4eeeb;
}
.input::placeholder {
  color: #b8b8b8;
}
.input_address {
  grid-column: 1 / -1;
}
.payment {
  margin: 0;
  padding: 0;
  margin-top: 12px;
  border: none;
}
.paymentTitle {
  display: block;
  font-size: 20px;
  margin-bottom: 12px;
}
.paymentLabel {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}
.paymentLabel:last-child {
  margin-bottom: 0;
}
.radio {
  accent-color: #64099b;
  margin-right: 8px;
}

/*========================================================================================================================================================*/

@media (max-width: 1240px) {
  .orderForm {
    max-width: 620px;
  }
}

@media (max-width: 660px) {
  .orderForm {
    grid-template-columns: auto;
    gap: 8px;
  }
}
