.cart {
  padding-top: 215px;
  padding-bottom: 50px;
}
.cart .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: clamp(24px, calc(24px + ((32 - 24) * ((100vw - 768px) / (1024 - 768)))), 32px);
  column-gap: 20px;
  align-items: start;
}
.title {
  grid-column: 1 / -1;
}
.items {
  --grid-column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: var(--grid-column-gap);
}
.summary {
  background-color: #f2f9f7;
  border-radius: 6px;
  padding: 24px;
  font-size: clamp(16px, calc(16px + ((20 - 16) * ((100vw - 768px) / (1024 - 768)))), 20px);

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    "title button"
    "total button";
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}
.summaryTitle {
  grid-area: title;
  font-weight: 400;
}
.total {
  grid-area: total;
}
.orderButton {
  grid-area: button;
  justify-self: end;

  outline: none;
  border: 1px solid #64099b;
  border-radius: 4px;
  padding: 16px 24px;
  color: #64099b;
  transition: border-color 0.2s;
}
.orderButton:hover {
  border-color: #7308b5;
}
.orderButton:active,
.orderButton:focus-visible {
  border-color: #6cb9ab;
  color: #6cb9ab;
}
.orderButton:disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

/*========================================================================================================================================================*/

@media (max-width: 1240px) {
  .cart {
    padding-top: 170px;
  }
}

@media (max-width: 940px) {
  .cart {
    padding-top: 140px;
    padding-bottom: 30px;
  }
  .cart .container {
    grid-template-columns: 1fr;
  }
  .summary {
    order: -1;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: "title total button";
    justify-content: start;
    margin-bottom: 16px;
  }
  .orderButton {
    padding: 12px 18px;
  }
  .items {
    grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
    --grid-column-gap: 16px;
  }
}

@media (max-width: 660px) {
  .cart {
    padding-top: 100px;
  }
  .summary {
    order: -1;
    grid-template-columns: 1fr max-content;
    grid-template-areas:
      "title button"
      "total button";
    margin-bottom: 6px;
  }
  .items {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    --grid-column-gap: 8px;
  }
}
