.wrapper {
  position: relative;
  max-width: clamp(524px, calc(524px + ((744 - 524) * ((100vw - 768px) / (1024 - 768)))), 744px);
  display: grid;
  grid-template-columns: 1fr 1.2fr;
}
.image {
  height: 100%;
  font-size: 0;
  overflow: hidden;
}
.image img {
  object-fit: cover;
  height: 100%;
}
.body {
  padding: 40px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.title {
  font-weight: 400;
  font-size: clamp(20px, calc(20px + ((24 - 20) * ((100vw - 768px) / (1024 - 768)))), 24px);
  margin-bottom: 12px;
}
.price {
  font-size: clamp(16px, calc(16px + ((20 - 16) * ((100vw - 768px) / (1024 - 768)))), 20px);
}
.additional {
  font-size: clamp(12px, calc(12px + ((16 - 12) * ((100vw - 768px) / (1024 - 768)))), 16px);
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
}
.item:not(:last-child) {
  margin-bottom: 6px;
}
.item span:first-child {
  color: #b8b8b8;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: clamp(16px, calc(16px + ((20 - 16) * ((100vw - 768px) / (1024 - 768)))), 20px);
}
.quantityButton {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #b8b8b8;
}

.quantityInput {
  width: 26px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.addBtn {
  outline: none;
  border: 1px solid #64099b;
  border-radius: 4px;
  padding: 14px 24px;
  color: #64099b;
  transition: border-color 0.2s;
  font-size: clamp(16px, calc(16px + ((20 - 16) * ((100vw - 768px) / (1024 - 768)))), 20px);
}
.addBtn:hover {
  border-color: #7308b5;
}
.addBtn:active,
.addBtn:focus-visible {
  border-color: #6cb9ab;
  color: #6cb9ab;
}
.addBtn:disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}
.close {
  position: fixed;
  top: 24px;
  right: 24px;
  color: #b8b8b8;
  font-size: 20px;
  line-height: 1;
  width: 20px;
  height: 20px;
  display: block;
  transition: color 0.2s;
}
.close:hover {
  color: #1d1c1d;
}
/*========================================================================================================================================================*/

@media (max-width: 940px) {
  .body {
    padding: 24px 24px 16px;
  }
  .quantityInput {
    max-width: 24px;
  }
  .quantityButton {
    width: 24px;
    height: 24px;
  }
  .addBtn {
    padding: 12px 18px;
  }
}

@media (max-width: 660px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.8fr;
    max-width: 290px;
    max-height: 500px;
  }
  .image {
    width: 100%;
    max-height: 276px;
  }
  .image img {
    height: auto;
  }
  .body {
    padding: 16px;
  }
  .quantityInput {
    max-width: 24px;
  }
  .close {
    top: 16px;
    right: 16px;
  }
}
